.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 347px;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .card-top-container {
    text-align: center;
  }

  .card-top-container h1{
    margin-top: 8px;
    font-size: 1.2em;
    letter-spacing: -0.015em;  
  }
  
  .card-top-container img {
      width: 158px;
      height: 158px;
  }
  
  .card-botton-container h6 {
    width: 220px;
    margin: 14px 0px 0px 22px ; 
    font-size: 14px;
    font-style: italic;
    font-weight: 400; 
    color: #585858;
  }
  
  .card-button-container{
    margin-top: 38px ;
  }
  .card-button-container Button {
    width: 257.93px;
  }

  @media (min-width : 576px)  {

    .product-card {
      width: 252px;
    }
    .card-button-container Button {
      width: 220px;
    }
    .card-botton-container h6 {
      font-size: 12px;
    }
  }
  
  @media (min-width : 768px)  {

    .product-card {
      width: 349px;
    }
    .card-button-container Button {
      width: 307px;
    }
    .card-botton-container h6 {
      width: 307px;
      font-size: 14px;
    }
  }
    
  @media (min-width : 992px)  {

    .product-card {
      width: 296px;
    }
    .card-button-container Button {
      width: 257px;
    }
    .card-botton-container h6 {
      width: 257px;
      font-size: 14px;
    }
  }

  @media (min-width : 1200px)  {

    .product-card {
      width: 306px;
    }
    .card-button-container Button {
      width: 266px;
    }
    .card-botton-container h6 {
      width: 266px;
      font-size: 14px;
    }
  }