.search-container {
  display: flex;
  align-items: center;
}

.search-imput input {
  width: 199px;
  min-height: 40px;
  background: #ffffff;
  border-radius: 5px 0px 0px 5px;
  border: unset;
  font-size: 14px;
  color: #a7a7a7;
  padding-left: 10px;
}
.btn {
  border: unset;
}
.btn h6 {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
.btn-primary {
  padding: 0px;
  border: unset;
}

.btn-primary:hover {
  color: #000;
  background-color: #00285f;
  border-color: #00285f;
}
.search-button button {
  width: 77px;
  height: 40px;
  text-align: center;
  border-radius: 0px 5px 5px 0px;
  background-color: #00285f;
  color: #fff;
}

@media (min-width: 576px) {

    .search-imput input {
        width: 320px;
      }
      .search-button button {

        width: 174px;
      }
  }
  
  @media (min-width: 768px) {
    .search-imput input {
        width: 516px;
      }    
  }
  
  @media (min-width: 992px) {
    .search-imput input {
        width: 584x;
      } 
  }
  